body        { font-family: 'Georgia', serif; font-size: 15px; color: #000; }
a           { text-decoration: none; color: #004B6B; }
a:hover     { color: #6D4100; }
.box        { width: 85%; margin: 5% auto; }
h2, h3, h4  { font-family: 'Garamond', 'Georgia', serif; font-weight: normal; }
h1          { margin: 0.5em auto; background: url(/static/images/logo.png) no-repeat;
              height: 64px; width: 393px; }
h1 span     { display: none; }
#actions  { margin: 0 0.5em;}
p#browsenav { font-family: 'Garamond', 'Georgia', serif;
              font-size: 18px; text-align: center;}
#currentnav { font-size: 24px; }
table#browse    { border: 1px solid black; border-collapse: collapse;
                  margin: 0 auto; min-width: 540px; table-layout: fixed;
                  width: auto !important;}
table#browse caption { margin: 5px 0; }
table td    { white-space: nowrap; }
table#browse th { background: #eee; font-weight: normal; }
tr.striped  { background-color: #F2F2F2; }
tr.entryrow td, th  { padding: 5px 10px; text-align: left;
                      border: 1px solid black; }
col#name, col#title { width: 60%; }
col#length, col#size, col#year, col#date  { width: 10%; }
col#director { width: 15%; }
col#country { width: 5% }
col#actions { width: 10%; }
p#pagination { text-align: center;}

