<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

{% block head %}
    <link rel="stylesheet" href="/static/kinoknecht.css" />
    <link rel="stylesheet" href="/static/facybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/facybox.js"></script>
    <script type="text/javascript" src="/static/kinoknecht.js"></script>
    <script type="text/javascript">
        {{request.script_root}}
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>kinoknecht{% block title %}{% endblock %}</title>
{% endblock head %}

</head>

<body>
{% block hidden %}
{% endblock %}

    <div id="header">
        <a href="admin">admin</a>

        {% block header %}{% endblock %}

    </div>
    <div id="title">

    {% block logo %}
        <h1 id="logotitle">kinoknecht</h1><h3 id="sectiontitle">{{self.title()}}</h3>
    {% endblock %}

    </div>
    <div id="content">
    
    {% block content %}{% endblock %}
    
    </div>
    <div id="footer">

        {% block footer %}
        {% endblock %}
        kinoknecht git20110503

    </div>
</body>
