
<!doctype html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% block head %}
    <link rel="stylesheet" href="/static/kinoknecht.css" />
    <link rel="stylesheet" href="/static/facybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/static/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="/static/facybox.js"></script>
    <script type="text/javascript" src="/static/kinoknecht.js"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <title>kinoknecht{% block title %}{% endblock %}</title>
{% endblock head %}
</head>
<body>
<div class="box">
{% block hidden %}{% endblock %}
    <div id="header">
        {% block header %}{% endblock %}
    </div>
        <h1><span>kinoknecht</span></h1>
    <div id="content"> 
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}{% endblock %}
    </div>
</div>
</body>
