{% extends "browse_base.html" %}

{% block table_rows %}
    <colgroup>
        <col id="title" />
        <col id="years" />
        <col id="producer" />
        <col id="country" />
        <col id="actions" />
    </colgroup>
    <thead>
    <tr>
        <th scope="col">title</th>
        <th scope="col">years</th>
        <th scope="col">producer</th>
        <th scope="col">country</th>
        <th scope="col"></th>
    </tr>
    </thead>
    
    <tbody>
    {% for show in results %}
        <tr class="entryrow">
            <td><a href="{{url_for('details', category=category, id=show.id)}}">{{show.title}}</a></td>
            <td>{{show.years}}</td>
            <td>{{show.producer}}</td>
            <td>{{show.country}}</td>
            <td><a href="{{url_for('play', category=category, id=show.id)}}"><img src="/static/images/icon_play.png" alt="play on server"/></a></td>
        <tr>
    {% endfor %}
    </tbody>
{% endblock table_rows %}
