{% extends "browse_base.html" %}
{% block table_rows %}
    <tr>
        <th></th>
        <th>type</th>
        <th>title</th>
        <th>year</th>
        <th>author</th>
        <th>country</th>
        <th>runtime/# episodes</th>
        <th>actions</th>
    {% for obj in objlist %}
        <tr>
            <td><input type="checkbox" name="{{obj.id}}" value="1">
        {% if obj.__class__.__name__ == 'Movie' %}
            <td><a href="{{url_for('details', category='movie', id=obj.id)}}">{{obj.title}}</a></td>
            <td>{{obj.year}}</td>
            <td>{{obj.director}}</td>
            <td>{{obj.country}}</td>
            <td>{{obj.runtimes}}</td>
        {% endif %}
        {% if obj.__class__.__name__ == 'Episode' %}
            <td><a href="{{url_for('details', category='episode', id=obj.id)}}">{{obj.show.title}} {{obj.season_num}}.{{obj.episode_num}}</a></td>
            <td>{{obj.years}}</td>
            <td>{{obj.director}}</td>
            <td>{{obj.country}}</td>
            <td>{{obj.runtimes}}</td>
        {% endif %}
        {% if obj.__class__.__name__ == 'Show' %}
            <td><a href="{{url_for('details', category='show', id=obj.id)}}">{{obj.title}}</a></td>
            <td>{{obj.years}}</td>
            <td>{{obj.producer}}</td>
            <td>{{obj.country}}</td>
            <td>{{obj.episodes|count}}</td>
        {% endif %}
            <td><a href="{{url_for('play', category=category, id=obj.id)}}">play</a></td>
        <tr>
    {% endfor %}
{% endblock table_rows %}
