{% extends "base.html" %}

{% macro render_browsenav(current) %}
<p id="browsenav">
    {% if current == 'file' %}
        <span id="currentnav">files</span>
    {% else %}
        <a href="{{url_for('browse', category='file')}}">files</a>
    {% endif %}
     // 
    {% if current == 'movie' %}
        <span id="currentnav">movies</span>
    {% else %}
        <a href="{{url_for('browse', category='movie')}}">movies</a>
    {% endif %}
     // 
    {% if current == 'show' %}
        <span id="currentnav">shows</span>
    {% else %}
        <a href="{{url_for('browse', category='show')}}">shows</a>
    {% endif %}
     // 
    {% if current == 'unassigned' %}
        <span id="currentnav">unassigned</span>
    {% else %}
        <a href="{{url_for('browse', category='unassigned')}}">unassigned</a>
    {% endif %}
</p>
{% endmacro %}

{% macro render_pagination(pagination, category) %}
  <p id=pagination>
  {% if pagination.has_prev %}
      <a href="{{url_for('browse', category=category, page=1)}}">first</a>
      /
      <a href="{{url_for('browse', category=category, page=pagination.prev_num)}}">prev</a>
  {% else %}
      <span class="disabled">first</span>
      /
      <span class="disabled">prev</span>
  {% endif %}
  //
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a href="{{ url_for('browse', category=category, page=page) }}">{{ page }}</a>
      {% else %}
        <strong>{{ page }}</strong>
      {% endif %}
    {% else %}
      <span class=ellipsis>…</span>
    {% endif %}
  {%- endfor %}
  //
  {% if pagination.has_next %}
      <a href="{{url_for('browse', category=category, page=pagination.next_num)}}">next</a>
      /
      <a href="{{url_for('browse', category=category, page=pagination.pages)}}">last</a>
  {% else %}
      <span class="disabled">next</span>
      /
      <span class="disabled">last</span>
  {% endif %}
  </p>
{% endmacro %}

{%block title %}.{{category}}{% endblock %}

{% block content %}
        {{ render_browsenav(category) }}
        <table id="browse">
            {% block table_rows %}
            {% endblock table_rows %}
        </table>
{{ render_pagination(pagination, category) }}
{% endblock content %}
