{% extends "browse_base.html" %}

{% block hidden %}
    <div style="display:none">
    <div id="imdb_window">
        <div id="searchbox">
            <input type=text size=25 name="imdbquery"><a href=# id=imdb_query>go</a>
        </div>
        <ul id=imdb_results></ul>
    </div>
    </div>

    <div style="display:none">
    <div id="show_window">
        <div id="searchbox">
            <input type="text" size="25" name="showquery"><a href=#show_query id=show_query>go</a>
        </div>
        <a href=#new_show id=new_show>create show</a>
        <ul id=show_results></ul>
    </div>
    </div>
{% endblock hidden %}

{% block table_rows %}
    <colgroup>
        <col id="tick" />
        <col id="name" />
        <col id="length" />
        <col id="size" />
        <col id="date" />
        <col id="actions" />
    </colgroup>
    <thead>
    <tr>
        <th scope="col"><input type="checkbox" name="tickall" value="1"></th>
        <th scope="col">name</th>
        <th scope="col">length</th>
        <th scope="col">size</th>
        <th scope="col">date</th>
        <th scope="col">
            <a id="moviemulti" href="#imdb_window" rel="facybox"><img src="/static/images/icon_addfilm.png" alt="create movie"/></a>
            <a id="showmulti" href="#show_window" rel="facybox"><img src="/static/images/icon_addshow.png" alt="add to show"/></a>
        </th>
    </tr>
    </thead>
    
    <tbody>
    {% for vfile in results %}
        <tr class="entryrow" id="{{vfile.id}}">
            <td><input type="checkbox" name="edittick" value="{{vfile.id}}"></td>
            <td>{{vfile.name}}</td>
            <td>{{vfile.length|humanduration}}</td>
            <td>{{vfile.size|humansize}}</td>
            <td>{{vfile.creation_date.strftime("%Y-%m-%d")}}</td>
            <td><a href="{{url_for('play', category=category, id=vfile.id)}}"><img src="/static/images/icon_play.png" alt="play on server"/></a>
                <a href="#imdb_window" class="createmovie" rel="facybox"><img src="/static/images/icon_addfilm.png" alt="create movie"/></a>
                <a href="#show_window" class="addtoshow" rel="facybox"><img src="/static/images/icon_addshow.png" alt="add to show"/></a>
                <a href="{{url_for('details', category='file', id=vfile.id)}}"><img src="/static/images/icon_info.png" alt="view details"/></a>
            </td>
        </tr>
    {% endfor %} 
    </tbody>
{% endblock %}
