<html>
<body>
<form action="{{url_for("imdb_query", category=category, id=id)}}" method="get">
<input name="searchstr" value="{{searchstring if searchstring else "enter search string"}}" type="text" size="30"><input type="submit" value="go">
</form>
{% if sresults %}
<ul>
    {% for entry in sresults %}
    <li><a href="{{url_for("_add_meta_from_imdb", imdbid=entry.movieID, category=category, id=id)}}">{{entry.movieID}}: {{entry['smart long imdb canonical title']}}</a></li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>
